       /* apply a natural box layout model to all elements */
      *, *:before, *:after {
       -webkit-box-sizing: border-box; box-sizing: border-box;
       }

      .cf:after { 
       content: "."; 
       visibility: hidden; 
       display: block; 
       height: 0; 
       clear: both;
      }

      body {
        width: 360px;
        overflow: hidden;
      }

      .logo { float: right; display: inline-block; margin: 1em 1em 0 0; height: 70px;}

      button {
        background: #666;
        color: #FFF;
        font-size: 1rem;
        height: 44px;
      }

      form section { display: block; }

      input, button, td, h1, h2, h3, p, label {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica, Arial", "Lucid Grande", sans-serif;
        font-weight: 300;
        letter-spacing: .1rem;
      }

      input, button, .tab label { border: 0; outline: none; padding: .8rem; border-radius: 4px;}

      input[type='text'] {
        color: #666; 
        width: 49%; 
        border: 1px solid #666;
        float: right;
        font-size: .8rem;
      }

      input:first-child { float: left; }
      form section:first-child { text-align: right; margin-right: -2px; }
      form section:last-child { margin: 0.4rem 0 1rem 0; overflow: hidden;}
      
      #words-list tr { display: inline-flex; width: 360px;}
      td { width: 10px; }
      td:first-child, td:last-child { width: 160px; word-break: break-word; padding: 2%; }

      #words-list {
        display: none;
        overflow-y: auto;
        overflow-x: hidden;
        height: 187px;
        
      }


      /* TABBBZZZ*/
      
      .tabs {
        position: relative;   
        min-height: 387px; /* This part sucks */
        margin: 2rem 0 0 0;
      }

      .tab {
        float: left;
      }

      .tab label {
        background: #fff; 
        margin-left: -1px; 
        position: relative;
        left: 1px; 
      }
      .tab [type=radio] {
        display: none;   
      }
      .content {
        position: absolute;
        top: 28px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        padding: 1em;
        /*
        overflow: hidden;
        */
      }

      .content2{
        background: #eee;
      }

      [type=radio]:checked ~ label {
        background: #eee;
        z-index: 2;
      }
      [type=radio]:checked ~ label ~ .content {
        z-index: 1;
      }

      [type=radio]:checked ~ label ~ .content > * {
      opacity: 1;
      -webkit-transform: translateX(0);
      }
      .content > * {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-transform: translateX(-100%);
      -webkit-transition: all 0.6s ease;

      }

